/* TEST */

.testing-css {
	background-color: #aaa;
	margin: 0;
	padding: 10px;
	text-align: center;
}

/* HTML Tags */


/* Bootstrap fixes */


/* Container classes */


/* Fonts */


/* Body classes */


/* Body IDs */


/* Footer */

#footer {
	text-align: left;
	background-color: rgba(255,255,255,0.75);
	padding: 10px 0px 10px 20px;
	margin: 0;
	color: #555;
}